body 
{
    
}
.slid {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.dot {
  cursor:pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.7s ease;
}

.tac{

  margin-top: -50px;
  position: absolute;
  padding-left:450px;
 
}
.active,.dot:hover {
  background-color: #717171;
}

/* animacija */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}