#container{
	 height:1100px;
}

.elementi{

	background-position: center;
    background-repeat: no-repeat;
    background-size: 280px 175px;
    height:175px;
    width:280px;      
    position: absolute;    
    z-index: 1 ;
}
.crn{	
	color: white;
	text-align: center;
    background-color: white;
    height:210px;
    color: black;
    width:280px;      
    position: absolute;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,2);
}


.crn:hover{

    background-color: #e6e6e6;  
    font-weight: bold;
       box-shadow: 0px 2px 20px 4px rgba(0,0,0,2);
}



#red1{ padding-top: 60px; }

#red2{ padding-top: 270px; }

#red3{ padding-top: 270px; }

.lap{ background-image: url('images/poc/laptop.jpg'); }

.tab{ background-image: url('images/poc/tablet.jpg'); }

.mob{ background-image: url('images/poc/fon.jpg'); }

.usi{ background-image: url('images/poc/basta.jpg'); }

.ap{ background-image: url('images/poc/mikro.jpg'); }

.bas{ background-image: url('images/poc/basta.jpg'); }

.alt{ background-image: url('images/poc/alat.jpg'); }

.lap1{ margin-left: 285px; }

.tab1{ margin-left: 635px; }

.mob1{  margin-left: 285px; }

.usi1{ margin-left: 635px; }

.ap1{ margin-left: 285px; }

.bas1{ margin-left: 285px; }

.alt1{ margin-left: 635px; }


#navigacija
{

    position: absolute;
    margin-top: 60px;
    width: 200px;
    height: auto;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,2);
    background-color: #999999;

}
#navigacija a
{
    text-decoration: none;
}

.naviItems
{
    padding-left: 10px;
    color: white;
    height:40px;
    text-align: left;
    line-height:40px;
    font-size: 16px;
    border: 3px solid white;
    border-width:0px 0px 1px 0px;
}

.naviItems:hover 
{
    background-color: #3D3D3D;
}

#naviNaslov
{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height:40px;
    border: 3px solid white;
    border-width:0px 0px 2px 0px;

}

#naviPoslednji
{
    padding-left: 10px;
    color: white;
    height:40px;s
    text-align: left;
    line-height:40px;
    font-size: 16px;
    border: 0px;
}
#naviPoslednji:hover
{
    background-color: #3D3D3D;
}
