#container{
	 height:3000px;
}

.podacivise
{
    display: none;
    z-index: 2;
    margin-left: 30px;  
    color: white;
    text-align: center;
    background-color: white;
    height:470px;
    color: black;
    width:940px;       
    position: absolute;
    box-shadow: 0px 2px 16px 6px rgba(0,0,0,2);
}

#laptop1
{
    margin-top: 30px;
}

#laptop2
{
    margin-top: 280px;
}

#laptop3
{
    margin-top: 530px;
}

#laptop4
{
    margin-top: 780px;
}

#laptop5
{
    margin-top: 1030px;
}

#laptop6
{
    margin-top: 1280px;
}

#laptop7
{
    margin-top: 1530px;
}

#laptop8
{
    margin-top: 1780px;
}

#laptop9
{
    margin-top: 2030px;
}

#laptop10
{
    margin-top: 2280px;
}
#glavni
{
   
    margin-top: 30px;
    position: absolute;     
    width: 800px;
    height: 100%;
    margin-left: 200px;

}
.dugmiki
{
        
    font-size: 12px;
    color: white;
    background-color: #999999;
    border: 0px;
    height: 20px;
    width: 20px;

}
.lista
{
        
    font-size: 12px;
    color: white;
    background-color: #999999;
    border: 0px;   
    height: 20px;
}
#dug1
{
margin-left: 350px;
}
#stranice
{
   
    margin-top: 20px;
    position: absolute;     
    width: 850px;
    height: 40px;
    margin-left: 150px;
    align-items: center;

}
#navigacija
{
    position: absolute;
    margin: 0px;
    width: 150px;
    height: 100%;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,2);
}
.bel
{ 

    margin-left: 25px;  
    color: white;
    text-align: center;
    background-color: white;
    height:220px;
    color: black;
    width:700px;       
    position: absolute;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,2);
}

.bel:hover
{
    box-shadow: 0px 2px 20px 4px rgba(0,0,0,2);
}

.elementi{

	background-position: center;
    background-repeat: no-repeat;
    background-size: 245px 210px;
    height:220px;
    width:256px; 
    position: absolute;    
    z-index: 1 ;
}
.lime{
    font-size: 18px;
    font-weight: bold;
    font-family: arial;
    position: absolute;
    margin-top: 5px;
    margin-left: 50%;
}



.lcena{
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    position: absolute;
    margin-top: 160px;
    margin-left: 50%;
}

.lap1{ background-image: url('images/laptopi/l1.jpg'); }
.lap2{ background-image: url('images/laptopi/l2.jpg'); }
.lap3{ background-image: url('images/laptopi/l3.jpg'); }
.lap4{ background-image: url('images/laptopi/l4.jpg'); }
.lap5{ background-image: url('images/laptopi/l5.jpg'); }
.lap6{ background-image: url('images/laptopi/l6.jpg'); }
.lap7{ background-image: url('images/laptopi/l7.jpg'); }
.lap8{ background-image: url('images/laptopi/l8.jpg'); }
.lap9{ background-image: url('images/laptopi/l9.jpg'); }
.lap10{ background-image: url('images/laptopi/l10.jpg'); }
.b1{    margin-top: 30px; }
.b2{    margin-top: 280px; }
.b3{    margin-top: 530px; }
.b4{    margin-top: 780px; }
.b5{    margin-top: 1030px; }
.b6{    margin-top: 1280px; }
.b7{    margin-top: 1530px; }
.b8{    margin-top: 1780px; }
.b9{    margin-top: 2030px; }
.b10{    margin-top: 2280px; }


